header {
  background: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  img {
    margin: 20px 0;
  }
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: crimson;
  ul {
    list-style: none;
    li {
      margin: 20px 0;
    }
  }
}

div.authentication {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: aqua;
  a {
    margin: 10px 0;
  }
}