p, li {
  font-family: 'Josefin Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cardo', serif; }

ul {
  list-style: none; }

ul.btn_list {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%; }
  ul.btn_list li.btn {
    background: aqua;
    margin: 2px;
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em; }
    ul.btn_list li.btn * {
      text-decoration: none;
      color: #000; }

header {
  background: aqua;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  height: 42vh; }
  header h1 {
    margin: 0; }

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #b56cb3;
  box-sizing: border-box;
  height: 40vh; }

div.authentication {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: silver;
  box-sizing: border-box;
  height: 18vh; }

.Headborough-div-userinfo {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px; }

.Userpic {
  height: 35px;
  padding-right: 16px;
  margin-top: 8px; }

.Borough-logo {
  height: 70px; }

.Boruough-pic {
  height: 40vh; }

#uncontrolled-tab-example {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: purple; }

ul.nav-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  ul.nav-tabs li {
    flex: 1; }

.Div-Storecontent {
  margin-bottom: 10px;
  background: red;
  padding: 5px; }
  .Div-Storecontent img {
    height: 200px;
    width: 90%;
    margin: auto; }

.BoroughReview-div {
  margin-bottom: 10px;
  background: green; }

@media only screen and (min-width: 769px) {
  body {
    background: aqua; }
  header {
    height: 33vh; }
  nav {
    height: 34vh;
    width: 70%;
    margin: 20px auto; }
    nav ul.btn_list {
      width: 80%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
  div.authentication {
    height: 25vh;
    width: 40%;
    margin: 20px auto; }
    div.authentication ul.btn_list {
      justify-content: center; } }
