//global
p, li {
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cardo', serif;
}

ul {
  list-style: none;
}

ul.btn_list {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  li.btn {
    background: aqua;
    margin: 2px;
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    * {
      text-decoration: none;
      color: #000;
    }
  }
}



//header
header {
  background: aqua;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // padding: 20px 0;
  box-sizing: border-box;
  height: 42vh;
  h1 {
    margin: 0;
  }
}

//nav
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(181, 108, 179);
  box-sizing: border-box;
  height: 40vh;
}

//authentication box
div.authentication {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: silver;
  box-sizing: border-box;
  height: 18vh;
}

// Container for userpic and logo
.Headborough-div-userinfo{
 background-color: yellow;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding: 20px; 
}

//user pic
.Userpic{
  height:35px;
  padding-right:16px;
  margin-top:8px; 
}

// logo
.Borough-logo{
  height:70px;
}

// Main pic
.Boruough-pic{
height: 40vh;
}

// Tab in Mixedtab.jsx 
#uncontrolled-tab-example{
text-align: center;
color: white;
font-weight: bold;
font-size: 20px;
background-color:purple;
}

ul.nav-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  li {
    flex: 1;
  }
}

.Div-Storecontent {
  margin-bottom: 10px;
  background: red;
  padding: 5px;
  img {
    height: 200px;
    width: 90%;
    margin: auto;
  }
}

.BoroughReview-div {
  margin-bottom: 10px;
  background: green;
}

// .Div-Storecontent {
//   display: flex;
//   flex-direction: row;
// }

// .Div-Storecontent img {
//   height: 50px;
// }

// .Store-content-text{
//  display: flex;
//   justify-content:justify;
// }

//media query
@media only screen and (min-width: 769px) {
  body {
    background: aqua; 
    // display: flex;
    // justify-content: space-between;
  }

  header {
    height: 33vh;
    // img {
    //   border: 1px solid black;
    // }
  }

  nav {
    height: 34vh;
    width: 70%;
    margin: 20px auto;
    ul.btn_list {
      width: 80%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }

  div.authentication {
    height: 25vh;
    width: 40%;
    margin: 20px auto;
    ul.btn_list {
      justify-content: center;
    }
  }
}